:root {
--webkit-scrollbar-thumb-background-color:rgba(0,0,0,0.5);
--ad-background-color:#fff;
--vui-divider-color:#ddd;
--vui-sidebar-main-background-color:#fff;
--vui-sidebar-active-backgroud-color:#f0f0f0;
--vui-sidebar-hover-backgroud-color:#f0f0f080;
--vui-sidebar-back-background-color:rgba(0,0,0,0.7);
--vui-sidebar-txtIcon-background-color:#1c1e42;
--vui-sidebar-txtIcon-text-color:#fff;
--vui-player-background-color:#000;
--vui-player-ad-back-background-color:rgba(0,0,0,0.7);
--main-background-color:#c14229;
--main-text-color:#333;
--disabled-color:#1c1e4280;
}

.fluid{
width: 100% !important;
}

/*a*/
a{
text-decoration:none;
}

/*body*/
body::-webkit-scrollbar {
width: calc(.6rem + 2px);
}
body::-webkit-scrollbar-track {
margin: 1px;
}
body::-webkit-scrollbar-corner {
display: none;
}
body::-webkit-scrollbar-thumb {
background: var(--webkit-scrollbar-thumb-background-color);
border-radius: 100px;
border: solid transparent;
background-clip: content-box;
border-width: 1px 2px;
}

/*divider*/
.vui-divider{
border:0px;
border-top:1px var(--vui-divider-color) solid;
padding:0px;
margin:20px 0px;
}

/*vui-header*/
.vui-header .vui-group{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
padding:0px;
margin:0px;
}
.vui-header .vui-group .item{
cursor:pointer;
margin-left:20px;
}
.vui-header .vui-group .item:first-child{
margin-left:0px;
}
.vui-header-logo{
width:auto;
height:30px;
}
.vui-header-logo img{
width:auto;
height:100%;
padding:0px;
margin:0px;
vertical-align:bottom;
}
.vui-header-icon{
display:flex;
justify-content:center;
align-items:center;
width:35px;
height:35px;
padding:0px;
margin:0px;
}
.vui-header-image{
width:35px;
height:35px;
border-radius:35px;
overflow:hidden;
padding:0px;
margin:0px;
}
.vui-header-image img{
width:100%;
height:100%;
padding:0px;
margin:0px;
vertical-align:bottom;
}

/*vui-sidebar*/
.vui-sidebar::-webkit-scrollbar {
width: calc(.6rem + 2px);
}
.vui-sidebar::-webkit-scrollbar-track {
margin: 1px;
}
.vui-sidebar::-webkit-scrollbar-corner {
display: none;
}
.vui-sidebar::-webkit-scrollbar-thumb {
background: var(--webkit-scrollbar-thumb-background-color);
border-radius: 100px;
border: solid transparent;
background-clip: content-box;
border-width: 1px 2px;
}
.vui-sidebar .group .item{
display:flex;
justify-content:flex-start;
align-items:center;
color:var(--main-text-color);
height:50px;
padding:0px 20px;
margin:0px;
box-sizing:border-box;
}
.vui-sidebar .group .item.link{
display:flex;
justify-content:flex-start;
align-items:center;
color:var(--main-text-color);
height:50px;
padding:0px 20px;
margin:0px;
box-sizing:border-box;
}
.vui-sidebar .group .item img{
vertical-align:bottom;
}
.vui-sidebar .group .item.active{
background-color:var(--vui-sidebar-active-backgroud-color);
}
.vui-sidebar .group .item:hover{
background-color:var(--vui-sidebar-hover-background-color);
}
.vui-sidebar .group .item .vui-icon{
display:flex;
justify-content:center;
align-items:center;
width:30px;
height:30px;
padding:0px;
margin:0px;
margin-right:15px;
}
.vui-sidebar .group .item .vui-icon .txt-icon{
display:flex;
justify-content:center;
align-items:center;
width:25px;
height:25px;
border-radius:25px;
font-size:14px;
background-color:var(--vui-sidebar-txtIcon-background-color);
color:var(--vui-sidebar-txtIcon-text-color);
}
.vui-sidebar .group .item .labelName{
display:block;
width:calc(100% - 45px);
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding:0px;
margin:0px;
}
.vui-sidebar .group .item.active .vui-icon{
color:var(--main-background-color);
}
.vui-sidebar .divider{
width:100%;
height:0px;
border-top:1px var(--vui-divider-color) solid;
margin:5px 0px;
}
.vui-sidebar-back{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-color:var(--vui-sidebar-back-background-color);
padding:0px;
margin:0px;
z-index:99;
}

/*grid*/
.vui-grid{
position:relative;
display:flex;
justify-content:space-between;
align-items:flex-start;
padding:0px;
margin:0px;
}
.vui-grid .one-column{
width:100%;
}
.vui-grid .two-column{
width:calc((((100% - 220px) / 12) * 2) + 20px);
}
.vui-grid .three-column{
width:calc((((100% - 220px) / 12) * 3) + 40px);
}
.vui-grid .four-column{
width:calc((((100% - 220px) / 12) * 4) + 60px);
}
.vui-grid .five-column{
width:calc((((100% - 220px) / 12) * 5) + 80px);
}
.vui-grid .six-column{
width:calc((((100% - 220px) / 12) * 6) + 100px);
}
.vui-grid .seven-column{
width:calc((((100% - 220px) / 12) * 7) + 120px);
}
.vui-grid .eight-column{
width:calc((((100% - 220px) / 12) * 8) + 140px);
}
.vui-grid .nine-column{
width:calc((((100% - 220px) / 12) * 9) + 160px);
}
.vui-grid .ten-column{
width:calc((((100% - 220px) / 12) * 10) + 180px);
}
.vui-grid .eleven-column{
width:calc((((100% - 220px) / 12) * 11) + 200px);
}
.vui-grid .twelve-column{
width:calc((((100% - 220px) / 12) * 12) + 220px);
}

/*button*/
.vui-button{
display:inline-flex;
justify-content:center;
align-items:center;
background-color:var(--main-background-color)!important;
height:42px;
color: #fff !important;
border:0px;
border-radius:8px;
padding:0px 15px;
margin:0px;
box-sizing:border-box;
}
.vui-button.danger{
background-color:#e84441!important;
color:#fff!important;
}
.vui-button.warning{
background-color:#f2a654!important;
color:#fff!important;
}
.vui-button .material-icons{
margin-right:5px;
}
.vui-button.mt{
margin-top:15px;
}

.vui-player-health{
display:flex;
justify-content:flex-start;
align-items:center;
background-color:#f18886;
width:100%;
height:10px;
padding:0px;
margin:0px;
overflow:hidden;
}
.vui-player-health .health{
background-color:#e84441;
height:100%;
width:0%;
padding:0px;
margin:0px;
}

.vui-players-table{
width:100%;
text-align:center;
border-collapse:collapse;
padding:0px;
margin:0px;
}
.vui-players-table th,.vui-players-table td{
background-color:#fff;
padding:10px 0px;
}
.vui-players-table tr:nth-child(odd) td{
background-color:#eee;
}

/*input-button-group*/
.vui-input-button-group{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
padding:0px;
margin:0px;
margin-top:15px;
}
.vui-input-button-group:first-child{
margin-top:0px;
}
.vui-input-button-group label{
color:#555;
font-size:13px;
}
.vui-input-button-group .vui-input{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
background-color:#fff;
padding:5px;
margin:0px;
box-sizing:border-box;
border:1px #ddd solid;
border-radius:8px;
}
.vui-input-button-group .vui-input input{
background-color:transparent;
width:calc(100% - 30px);
height:30px;
border:0;
outline:none;
padding:0px;
margin:0px;
}
.vui-input-button-group .vui-input textarea{
background-color:transparent;
width:calc(100% -30px);
height:300px;
border:0;
outline:none;
padding:0px;
margin:0px;
}
.vui-input-button-group .vui-input button{
background-color:transparent;
height:30px;
width:30px;
border:0;
outline:none;
cursor:pointer;
padding:0px;
margin:0px;
}
.vui-input-button-group .vui-input button:hover{
background-color:transparent;
color:#555;
height:30px;
width:30px;
border:0;
outline:none;
cursor:pointer;
padding:0px;
margin:0px;
}

/*input-group*/
.vui-input-group{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
padding:0px;
margin:0px;
margin-top:15px;
}
.vui-input-group:first-child{
margin-top:0px;
}
.vui-input-group label{
color:#555;
font-size:13px;
}
.vui-input-group .vui-input{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
background-color:#fff;
padding:10px 5px;
margin:0px;
box-sizing:border-box;
border:1px #ddd solid;
border-radius:8px;
}
.vui-input-group .vui-input input,.vui-input-group .vui-input select{
background-color:transparent;
width:100%;
height:30px;
border:0;
outline:none;
padding:0px;
margin:0px;
}
.vui-input-group .vui-input textarea{
background-color:transparent;
width:100%;
height:500px;
border:0;
outline:none;
padding:0px;
margin:0px;
}

.vui-checkbox{
display:inline-flex;
justify-content:flex-start;
align-items:center;
background-color:#fff;
padding:5px;
margin:5px;
}

.vui-signin-main,.vui-signin{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
width:100%;
height:100%;
padding:0px;
margin:0px;
}

