<div class="vui-footer four vui-wide-display-none vui-medium-display-none">
<a class="item active" href="/">
<span class="material-icons">home</span>
<span class="text">ホーム</span>
</a>
<a class="item" href="/whitelist">
<span class="material-icons">lock</span>
<span class="text">ホワイトリスト</span>
</a>
<a class="item" href="/players">
<span class="material-icons">people</span>
<span class="text">プレイヤー</span>
</a>
<a class="item" href="/rcon">
<span class="material-icons">terminal</span>
<span class="text">RCON</span>
</a>
</div>
<script src="/javascripts/vui-main.js"></script>