<div class="vui-sidebar">
<div class="group">
<a class="item<% if(path=="status"){ %> active<% } %>" href="/status">
<span class="material-icons vui-icon">dns</span>
サーバー状態
</a>
<a class="item<% if(path=="whitelist"){ %> active<% } %>" href="/whitelist">
<span class="material-icons vui-icon">lock</span>
ホワイトリスト
</a>
<a class="item<% if(path=="players"){ %> active<% } %>" href="/players">
<span class="material-icons vui-icon">people</span>
プレイヤー
</a>
<a class="item<% if(path=="rcon"){ %> active<% } %>" href="/rcon">
<span class="material-icons vui-icon">terminal</span>
RCON
</a>
<div class="divider"></div>
<a class="item" href="/signout">
<span class="material-icons vui-icon">logout</span>
ログアウト
</a>
</div>
</div>
<div class="vui-sidebar-back"></div>